
swiftHBeacon/DerivedData/ModuleCache/1OC1JYIQPMY2A/CFNetwork-Z8BMBGBJ8X3V.pcm

swiftHBeacon/DerivedData/ModuleCache/1OC1JYIQPMY2A/CoreFoundation-1V0BCRUTQ0HVY.pcm

swiftHBeacon/DerivedData/ModuleCache/1OC1JYIQPMY2A/Darwin-3133I65RZ1TXG.pcm

*.pcm

swiftHBeacon/DerivedData/swiftHBeacon/Build/Intermediates/swiftHBeacon.build/Debug-iphoneos/swiftHBeacon.build/dgph

swiftHBeacon/DerivedData/swiftHBeacon/Build/Intermediates/swiftHBeacon.build/Debug-iphoneos/swiftHBeacon.build/Objects-normal/arm64/swiftHBeacon-OutputFileMap.json

swiftHBeacon/DerivedData/swiftHBeacon/TestResults/2014-06-16 23.50.05 +0200.xctestresults/results.plist

swiftHBeacon/DerivedData/swiftHBeacon/TextIndex/text-filter.idx
